<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="aircraft">

    <xacro:property name="L_2" value="8.4" />
    <xacro:property name="L_landing" value="4.10" />
    <xacro:property name="PI" value="3.14159265359" />
    <xacro:property name="dz" value="0.200302" />

    <link name="aircraft_nose_wheel_link">
        <visual>
            <origin xyz="0 0 ${dz}" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://aircraft_design/meshes/aircraft_nose_wheel.stl" scale="1 1 1"/>
            </geometry>
            <material name="black">
                <color rgba="0.1 0.1 0.1 1.0"/>
            </material>
        </visual>
    </link>

    <link name="aircraft_base_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0.02 0"/>
            <geometry>
                <mesh filename="package://aircraft_design/meshes/aircraft_base.stl" scale="1 1 1"/>
            </geometry>
            <material name="white">
                <color rgba="0.9 0.9 0.9 1.0"/>
            </material>
        </visual>
    </link>

    <link name="aircraft_left_mlg_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://aircraft_design/meshes/aircraft_left_mlg.stl" scale="1 1 1"/>
            </geometry>
            <material name="black"/>
        </visual>
    </link>

    <link name="aircraft_right_mlg_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://aircraft_design/meshes/aircraft_right_mlg.stl" scale="1 1 1"/>
            </geometry>
            <material name="black"/>
        </visual>
    </link>

    <joint name="aircraft_nose_to_base" type="fixed">
        <parent link="aircraft_nose_wheel_link"/>
        <child link="aircraft_base_link"/>
        <origin xyz="-${L_2} 0 ${dz}" rpy="0 0 0"/>
    </joint>

    <joint name="aircraft_base_to_left_mlg" type="fixed">
        <parent link="aircraft_base_link"/>
        <child link="aircraft_left_mlg_link"/>
        <origin xyz="0 ${L_landing/2} 0" rpy="0 0 0"/>
    </joint>

    <joint name="aircraft_base_to_right_mlg" type="fixed">
        <parent link="aircraft_base_link"/>
        <child link="aircraft_right_mlg_link"/>
        <origin xyz="0 -${L_landing/2} 0" rpy="0 0 0"/>
    </joint>

</robot>