<?xml version="1.0"?>
<robot name="atr42_aircraft">

  <link name="aircraft/base_link">
    
    <visual>
      <origin xyz="0 0 0" rpy="0 0 1.57"/> 
      <geometry>
        <mesh filename="file:///home/student/flight_ws/src/aircraft_design/meshes/atr423.stl"/>
      </geometry>
      <material name="white_paint">
        <color rgba="1.0 1.0 1.0 1.0"/>
        </material>

      
    </visual>

    <collision>
      <geometry> <cylinder radius="1.4" length="22.6"/> </geometry>
      <origin xyz="-1.705 0 2.4" rpy="0 1.57 0"/>
    </collision>

    <collision>
      <geometry> <box size="2.2 24.4 0.2"/> </geometry>
      <origin xyz="0.0 0 3.8" rpy="0 0 0"/>
    </collision>
    
    <collision>
      <geometry> <box size="2.5 0.2 3.5"/> </geometry>
      <origin xyz="-12.0 0 4.15" rpy="0 0 0"/>
    </collision>

    <collision>
      <geometry> <box size="1.5 7.31 0.2"/> </geometry>
      <origin xyz="-12.0 0 5.8" rpy="0 0 0"/> 
    </collision>
  </link>

  <link name="aircraft/nose_wheel_link">
    <collision>
      <geometry> <cylinder radius="0.4" length="0.3"/> </geometry>
      <origin rpy="1.57 0 0"/>
    </collision>
  </link>
  <joint name="aircraft_base_to_nose" type="fixed">
    <parent link="aircraft/base_link"/>
    <child link="aircraft/nose_wheel_link"/>
    <origin xyz="8.78 0 0"/> 
  </joint>

  <link name="aircraft/left_main_gear_link">
    <collision>
      <geometry> <cylinder radius="0.5" length="0.4"/> </geometry>
      <origin rpy="1.57 0 0"/>
    </collision>
  </link>
  <joint name="aircraft_base_to_l_gear" type="fixed">
    <parent link="aircraft/base_link"/>
    <child link="aircraft/left_main_gear_link"/>
    <origin xyz="0 2.04 0"/> 
  </joint>

  <link name="aircraft/right_main_gear_link">
    <collision>
      <geometry> <cylinder radius="0.5" length="0.4"/> </geometry>
      <origin rpy="1.57 0 0"/>
    </collision>
  </link>
  <joint name="aircraft_base_to_r_gear" type="fixed">
    <parent link="aircraft/base_link"/>
    <child link="aircraft/right_main_gear_link"/>
    <origin xyz="0 -2.04 0"/>
  </joint>

</robot>